html{
  scroll-behavior: smooth;
}
body{
  background: url(888.jpg);
  background-size: cover;
}
#div-grid {
  display: grid;
  grid-template-areas:
    "header header header "
    "sidbar main main"
    "sidbar main main"
    "sidbar main main "
    "sidbar main main "
    "footer footer footer"
    "footer footer footer";
  width: 100vw;
  height: 100vh;
  gap: 1%;
  direction: rtl;
}
@media screen and  (min-width : 500px){
  

#div-header {
  grid-area: header;
  background: url(haeder.png);
  
  display: flex;
  align-items: flex-end;
  justify-content: space-evenly;
  flex-direction: row-reverse;
  margin-right: 10vw;
  margin-left: 10vw;
  height: 15vh;
  border-radius: 30vh;
}}

@media screen and  (max-width : 500px){
  

  #div-header {
    grid-area: header;
    background: url(haeder.png);
    background-size: cover;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    margin-right: 10vw;
    margin-left: 10vw;
   
  }}

#git {
  border-radius: 100%;
  width: 5vw;
}
#git:hover {
  border-radius: 100%;
  width: 5.1vw;
  box-shadow: 1px 5px 10px rgb(143, 142, 142);
}

#in {
  border-radius: 100%;
  width: 5vw;
}
#in:hover {
  border-radius: 100%;
  width: 5.1vw;
  box-shadow: 1px 5px 10px rgb(143, 142, 142);
}

  
#div-sidbar {
  grid-area: sidbar;
  background-color: rgb(141, 12, 216);
  display: flex;
  margin-right: 2.5vw;
  align-items: center;
  flex-direction: column;
  border: 8px solid black;
  border-radius: 30vh;
  
}

li {
  list-style: none;
}

.a-li {
  font-size: 3vw;
  color: chartreuse;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
  text-shadow: 2px 2px 2px black;
}
.a-li:hover {
  color: red;
  text-shadow: 2px 10px 3px black;
}
#div{
  display:flex;


}
.h-p{
  text-align: center;
  background-color: chartreuse;
  font-family: 'Libre Baskerville', serif;
  font-size: 2vw;
  color: orange;
  text-shadow: 2px 2px 2px black;
}
.img-p{
  width: 25vw;

}
.img-p:hover{
  width: 27vw;
  transition: all 1s;
}

#div-main {
  grid-area: main;
  display: flex;
  background-image:url(Panda\ Wallpaper\ 003.jpg)  ;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  align-items: center;
  margin-left: 2.5vw;
  border: solid 5px rgb(54, 40, 173);
  border-radius: 60vh;
}
@keyframes myanimation1 {
  0% {
    filter: drop-shadow(1px 0px 21px rgb(254, 254, 254));
  }
  100% {
    filter: drop-shadow(4px 10px 50px rgb(244, 77, 6));
  }
}
#img-logo {
  animation: myanimation1 2s infinite alternate;
  width: 7vw;
}
.div-main-h {
  text-align: center;
  font-size: 2vh;
  
  
}
span{
  color: white;
}
.hh {
  font-size: 4vw;
  color: white;
  font-family: 'Libre Baskerville', serif;
  text-shadow: 2px 2px 2px red;
  
  
}
.hhh{
  text-shadow: 2px 2px 2px white;
}

.h-k{
  font-size: 2vw;
  color: rgb(48, 25, 224);
  background-color: rgb(120, 255, 80);
  border-radius: 50vh;
  font-style: unset;
  text-shadow: 2px 2px 2px black;

}
@media screen and (min-width:500px){
  

.pp{
  font-size: 2vw;
  font-family: 'Libre Baskerville', serif;
  color: black;
  text-shadow: 0px 1px 2px white;
}}
@media screen and (max-width:500px){
  

  .pp{
    font-size: 2vw;
    font-family: 'Libre Baskerville', serif;
    color: black;
    text-shadow: 1px 0px 2px white;
  }}

@media screen and (min-width:500px){
  

#my-img {
  width: 12vw;
  height: 22vh;
  border-radius: 100%;
}}
@media screen and (max-width:500px){
  

  #my-img {
    width: 20vw;
    height: 12vh;
    border-radius: 100%;
  }}

#my-img:hover {
  width: 15vw;
  height: 27vh;

  border-radius: 200%;
  transition: all 1s;
  box-shadow: 8px 20px 10px black;
}
.img-main {
  width: 7vw;
 
} 
@media screen and (min-width:500px){
  

button{
  width: 20vw;
  height: 4vh;
  text-decoration: none;
  font-family: 'Libre Baskerville', serif;
   font-size: 3vh;
  font-weight: bolder;
  border-radius: 50vh;

}}
@media screen and (max-width:500px){
  button{
    
    width: 20vw;
    height: 4vh;
    text-decoration: none;
    font-family: 'Libre Baskerville', serif;
     font-size: 1vh;
    font-weight: bolder;
    border-radius: 50vh;
  
  }}

@media screen and (min-width:500px) {
  

#div-footer {
  grid-area: footer;
  background: url(haeder.png);
  display: flex;
  justify-content: space-evenly;
  margin-right: 10vw;
  margin-left: 10vw;
  height: 13vh;
  border-radius: 30vh;
}
}
@media screen and (max-width:500px) {
  

  #div-footer {
    grid-area: footer;
    background: url(haeder.png);
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    margin-right: 10vw;
    margin-left: 10vw;
    
   
  }
  }
.div-footer {
  display: flex;
  align-items: center;
  font-family: 'Libre Baskerville', serif;
  color:yellow;
  text-shadow: 2px 10px 2px rgb(31, 20, 235);
  font-size: 2vw;
  text-decoration: none;
 
  
}
.div-footer:hover {
  color: red;
}
